@using EPiServer.Web.Mvc.Html
@using PolisenNews.Cms.Models.Pages
@using PolisenNews.Cms.Models.ViewModels
@using PolisenNews.Cms.Views.Shared.Components.ViewModels
@using PolisenNews.Cms.Infrastructure.Helpers
@model PageListModel

<h2 epi-property="@Model.Heading">@Model.Heading</h2>
<div class="col-12">
    <div class="teaser-cards">
        @*      class=" d-flex flex-row *@

        @foreach (var page in Model.Pages)
        {
                <div class="teaser-item @string.Join(" ", page)">

                    <div class="teaser-card">
                        <a href="@Url.PageLinkUrl(page)">
                            @if (page is SitePageData sitePage && sitePage.PageImage != null)
                            {
                                <img src="@Url.ContentUrl(sitePage.PageImage)" alt="@sitePage.MetaTitle" />
                            }
                        </a>
                        <a href="@Url.PageLinkUrl(page)"><h6>@(page.Name)</h6></a>

                        <p class="small date">@Html.DisplayFor(x => page.StartPublish)</p>

                        @if (page is SitePageData teaserPage)
                        {
                            <p>@(teaserPage.TeaserText ?? teaserPage.MetaDescription)</p>
                        }
                    </div>

                    <div class='clear' style="clear:both"></div>
                </div>
        }
    </div>
</div>


